
a {
    visibility: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body {
      background-color:#121212;
      background-image: linear-gradient(-61deg, #333333, #121212);
      margin:0px;
      width: 100vw;
      height: 100vh;
      overflow: hidden;
      }
.label {
    position: relative;
    color:#60c8d9;
    font-family: 'Rubik', sans-serif;
    font-size: 10vw;
    text-align: center;
    margin-top:10vh;
}
